<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;600&display=swap" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
    <meta name="google-site-verification" content="SDT7QI_pfdrONelF0OpBjLeRSR1cj4iv5uDajXvsHFs" />
  </head>
  <body class="page {{page.bodyClass}}">
    {% include mobile-menu.html %}
    <div class="container mx-auto px-6 md:px-4">
      {% include header.html %}
      {{content}}
      <!-- {% include footer.html %} -->
    </div>
    {% include google-analytics.html %}
    <script type="text/javascript" src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>
  </body>
</html>
